:root {
  --color-principal: #0c8346;
  --color-secundario: #f7c548;
  --color-terciario: #495867;
  --color-fondo: #f7f7ff;
  --fuente-principal: "Cinzel", serif;
  --fuente-secundaria: "Lora", serif;
  --fuente-terciaria: "Quattrocento", serif;
}

/************* ESTILOS GLOBALES *************/
a {
  text-decoration: none;
}
input:focus,
textarea:focus {
  box-shadow: none !important;
}

/************* ESTILOS PARA EL NAVBAR *************/
nav {
  background-color: var(--color-principal);
}

.searchbar {
  color: var(--color-terciario);
  font-family: var(--fuente-secundaria);
  font-weight: 500;
}

.navbar-items {
  border-top: 0.1rem solid #359766;
}
.link-item {
  font-family: var(--fuente-principal);
  font-weight: 300;
  color: var(--color-fondo);
}

.bi-book-half {
  font-size: 2.3rem;
  padding: 3rem;
  background-color: var(--color-secundario);
  color: var(--color-fondo);
}
.bi-person,
.bi-cart4,
.bi-list {
  font-size: 2.2rem;
  color: var(--color-fondo);
}
.bi-search {
  color: var(--color-principal);
  font-size: 1.3rem;
}

.rounded-pill-start {
  border-radius: 6.25rem 0rem 0rem 6.25rem;
}
.rounded-pill-end {
  border-radius: 0rem 6.25rem 6.25rem 0rem;
}
/************* FIN DE LOS ESTILOS PARA EL NAVBAR *************/

/************* ESTILOS PARA EL FOOTER *************/

#footer {
  background-color: var(--color-principal);
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer h4 {
  font-family: var(--fuente-principal);
  font-weight: bolder;
  color: var(--color-fondo);
}
