/************* VARIABLES *************/

:root {
  --color-principal: #0c8346;
  --color-secundario: #f7c548;
  --color-terciario: #495867;
  --color-fondo: #f7f7ff;
  --fuente-principal: "Cinzel", serif;
  --fuente-secundaria: "Lora", serif;
  --fuente-terciaria: "Quattrocento", serif;
}

/************* FIN DE LAS VARIABLES *************/

/************* ESTILOS GLOBALES *************/
a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

input:focus,
textarea:focus {
  box-shadow: none !important;
}

.vh-85 {
  height: 85vh;
}

/************* FIN DE ESTILOS GLOBALES *************/

/************* ESTILOS PARA EL NAVBAR *************/
nav {
  background-color: var(--color-principal);
}

.searchbar {
  color: var(--color-terciario);
  font-family: var(--fuente-secundaria);
  font-weight: 500;
}

.navbar-items {
  border-top: 0.1rem solid #359766;
}
.link-item {
  font-family: var(--fuente-principal);
  font-weight: 300;
  color: var(--color-fondo);
}

.bi-book-half {
  padding: 3rem;
  background-color: var(--color-secundario);
  color: var(--color-fondo);
}
.bi-person,
.bi-cart4,
.bi-list {
  color: var(--color-fondo);
}
.bi-search {
  color: var(--color-principal);
  font-size: 1.3rem;
}

.rounded-pill-start {
  border-radius: 6.25rem 0rem 0rem 6.25rem;
}
.rounded-pill-end {
  border-radius: 0rem 6.25rem 6.25rem 0rem;
}
/************* FIN DE LOS ESTILOS PARA EL NAVBAR *************/

/************* ESTILOS PARA EL HOMEPAGE *************/
.bg-custom-black {
  background-color: #070707;
}

#mensaje-promocional > h2 {
  color: var(--color-secundario);
  font-family: var(--fuente-principal);
  font-weight: 900;
}
#mensaje-promocional > p {
  color: var(--color-fondo);
}
#mensaje-promocional > p:nth-child(1) {
  font-family: var(--fuente-terciaria);
}
#mensaje-promocional > p:nth-child(2) {
  font-family: var(--fuente-secundaria);
}

.custom-btn {
  background-color: var(--color-secundario);
  color: #495867;
  font-weight: bold;
}
.custom-btn:hover {
  background-color: var(--color-secundario);
}

/************* FIN DE LOS ESTILOS PARA EL HOMEPAGE *************/

/************* ESTILOS PARA LA INFORMACIÓN DE COMPRAS *************/
.item-compra > .info > h3 {
  color: var(--color-secundario);
  font-family: var(--fuente-terciaria);
}
.item-compra > .info > p {
  color: var(--color-terciario);
  font-family: var(--fuente-secundaria);
}

.bi-gift,
.bi-credit-card-2-front,
.bi-bicycle {
  color: var(--color-secundario);
}

.info {
  border-left: 0.8rem solid var(--color-secundario);
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .info {
    border-left: 0.8rem solid var(--color-secundario);
    border-right: 0.8rem solid var(--color-secundario);
    padding: 1rem;
  }
}

/************* FIN DE LOS ESTILOS PARA LA INFORMACIÓN DE COMPRAS *************/

/************* ESTILOS PARA LA DE SECCION NOVEDADES, CARDS DE LIBROS Y PÁGINA DE LOGIN  *****************/

#novedades {
  background-color: var(--color-terciario);
}

#tituloNovedades {
  color: var(--color-secundario);
  font-family: var(--fuente-principal);
}

#cardsNovedades {
  padding: 0;
  margin: auto;
}

#cardsNovedades .card,
#libros .card {
  --bs-card-bg: var(--color-terciario);
  --bs-card-border-color: none;
  width: 17rem;
}

#cardsNovedades .card-title,
#libros .card-title {
  color: var(--color-secundario);
  font-size: 1.25rem;
  font-family: var(--fuente-principal);
}

#cardsNovedades .card-subtitle,
#libros .card-subtitle {
  color: var(--color-fondo);
  font-weight: bold;
  font-size: 1rem;
  font-family: var(--fuente-terciaria);
}

#cardsNovedades .card-text,
#libros .card-text {
  color: var(--color-fondo);
  font-size: 0.75rem;
  font-family: var(--fuente-secundaria);
}

#cardsNovedades .imageContainer {
  height: 225px;
}
#cardsNovedades .card-img-top,
#libros .card-img-top {
  max-width: 150px;
  height: auto;
}

#cardsNovedades .btn-warning,
#libros .btn-warning,
#login .btn-warning {
  --bs-btn-font-family: var(--fuente-secundaria);

  --bs-btn-color: var(--color-terciario);
  --bs-btn-bg: var(--color-secundario);

  --bs-btn-hover-color: var(--color-secundario);
  --bs-btn-hover-bg: var(--color-terciario);

  --bs-btn-padding-y: 0.2rem;
  --bs-btn-padding-x: 0.45rem;
  --bs-btn-font-size: 0.7rem;
}

/*************FIN ESTILOS PARA SECCION NOVEDADES *****************/

/************* ESTILOS PARA EL FORM *************/

#registro {
  display: flex;
  justify-content: center;
}
#registro span {
  color: var(--color-secundario);
}
#tituloRegistro{
  color: var(--color-principal);
}
form {
  width: 50%;
  font-family: var(--fuente-principal);
  font-weight: 300;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table {
  text-align: center;
  color: var(--color-principal);
}
td {
  vertical-align: top;
  width: 50%;
  padding: 0.5rem;
  border: none;
}
.labels-form {
  text-align: right;
  color: var(--color-principal);
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  font-family: var(--fuente-terciaria);
}

.text_box {
  border-radius: 2rem;
  border-color: var(--color-secundario);
  font-family: var(--fuente-secundaria);
  color: var(--color-terciario);
  width: 100%;
  padding: 2px 2px 2px 10px;
  box-sizing: border-box;
}
#button-form {
  padding: 0.3rem 1rem;
  background-color: var(--color-secundario);
  color: var(--color-principal);
  text-align: center;
  cursor: pointer;
  width: 100%;
  border: none;
  box-sizing: border-box;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}
#button-form:hover {
  background-color: var(--color-principal);
  color: var(--color-secundario);
}

.table-responsive {
  width: 100%;
}
@media (max-width: 767.98px) {
  .table-responsive td {
    display: block;
    width: 100%;
  }
  .table-responsive td label {
    text-align: center;
    margin-bottom: 10px;
  }
  .table-responsive td input,
  .table-responsive td button {
    margin-bottom: 10px;
  }
}

/************* FIN DE LOS ESTILOS PARA EL FORM *************/

/************* ESTILOS PARA EL FOOTER *************/

#footer {
  background-color: var(--color-principal);
}

#footer h4 {
  font-family: var(--fuente-terciaria);
  font-weight: bolder;
  color: var(--color-fondo);
}

/************* ESTILOS PARA SECCION MERCH ********************/

#merch {
  background-color: var(--color-fondo);
}

.carousel-item {
  display: none;
  transition: none;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
  transition: transform 0.6s ease;
}

#merch .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 2px solid transparent;
}

#merch .card img {
  width: auto;
  height: 226px;
  object-fit: cover;
}

#merch h1 {
  text-align: center;
  font-family: var(--fuente-principal);
  color: var(--color-principal);
  padding-bottom: 40px;
}

#merch .card h5 {
  font-family: var(--fuente-principal);
  color: var(--color-principal);
}

#merch .card h6 {
  font-family: var(--fuente-secundaria);
  color: var(--color-terciario);
  font-weight: bold;
}

#merch .card p {
  font-family: var(--fuente-secundaria);
  color: var(--color-terciario);
}

/************* ESTILOS PARA LA PÁGINA DE PREGUNTAS FRECUENTES *************/
.titulo-principal {
  color: var(--color-principal);
  font-family: var(--fuente-principal);
}

.pregunta {
  font-family: var(--fuente-secundaria);
  color: var(--color-secundario);
}
.respuesta {
  font-family: var(--fuente-secundaria);
  color: var(--color-principal);
}

/************* ESTILOS PARA LA PÁGINA DE LIBROS *************/

.espacio-vacio {
  width: 15rem;
  height: 0;
}

/************* FIN DE LOS ESTILOS PARA LA PÁGINA DE LIBROS *************/

/************* ESTILOS PARA LA PÁGINA DE LOGIN *************/

#login input {
  font-family: var(--fuente-secundaria);
}

/************* FIN DE LOS ESTILOS PARA LA PÁGINA DE LOGIN *************/